.column {
    margin-bottom: 16px;
    padding: 0 8px;
    transform: translate(30%, 0%);
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #8c0095;
    text-align: center;
    cursor: pointer;
    width: 28%;
}

.button:hover {
    background-color: #dd37cf;
}